.history/
# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# Collector logs
collector/collector.log

# -----------------------------
# Environment files
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db