[Unit]
Description=OPMAS Telemetry Collector Service
After=network.target mysql.service

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{PYTHON_PATH}} {{WORKING_DIR}}/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
