[Unit]
Description=OPMAS Modbus PLC Simulator Service
After=network.target

[Service]
Type=simple
User=de-favre
WorkingDirectory=/home/de-favre/oxygenplant/OPMAS-001/collector
ExecStart=/home/de-favre/oxygenplant/OPMAS-001/collector/.venv/bin/python3 /home/de-favre/oxygenplant/OPMAS-001/collector/simulator.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
