[Unit]
Description=OPMAS Telemetry Collector Service
After=network.target mysql.service

[Service]
Type=simple
User=de-favre
WorkingDirectory=/home/de-favre/oxygenplant/OPMAS-001/collector
ExecStart=/home/de-favre/oxygenplant/OPMAS-001/collector/.venv/bin/python3 /home/de-favre/oxygenplant/OPMAS-001/collector/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
